
# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# Machine Learning
# ==============================



# ==============================
# Dataset temporary files
# ==============================

*.tmp
*.temp

# ==============================
# Environment variables
# ==============================

.env
.env.*

# ==============================
# IDE / Editor
# ==============================

.vscode/
.idea/

# ==============================
# Operating System
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Python cache
# ==============================

.pytest_cache/
.mypy_cache/

# ==============================
# Temporary files
# ==============================

*.tmp
*.bak
*.swp
